[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia retrain_text.py3 kB PythonClick to view details
Type=Link
URL=https://micomco.slack.com/files/U01DRGFP35W/F01HCEW6E87/retrain_text.py?origin_team=T017LJ5V98S&origin_channel=D01DEK9568H
Icon=text-html
